* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1;
	font-family: $font-stack;
	color: $font-clr;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Remove tap highlight color on mobile devices */
a,
button,
input,
textarea {
	-webkit-tap-highlight-color: transparent;
}

ol,
li {
	list-style-type: none;
}
