@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Poppins";
	font-style: bold;
	font-weight: 700;
	src: url("../../assets/fonts/Poppins-Bold.ttf") format("truetype");
}

$font-stack: ("Poppins", "Arial", sans-serif);
