$primary-clr: #0277bd;
$primary-clr-shad: #015384;
$primary-clr-light: #3492ca;

$secondary-clr: #e64a19;
$secondary-clr-shad: #a13311;
$secondary-clr-shad: #e64a19;

$bg-color: #fafafa;
$bg-color-dark: #cfd8dc;
$bg-color-alt: #546e7a;

$font-clr: #263238;
