.book {
	max-width: 190px;
	border-radius: 5px;
	box-shadow: 0 0 5px #b4b4b4, 0 0 8px #b4b4b47a;
	padding: 1em;
}

.book h3 {
	white-space: nowrap; /* Keeps the text on a single line */
	overflow: hidden; /* Hides any text that overflows the container */
	text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate there's more text */
	width: 150px;
}
