.navBar {
	/* position: fixed;
	min-width: 140px;
	box-shadow: 0px 0 8px #9e9d9d;
	border-radius: 10px 0 0 10px;
	padding: 1em 0.3em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	 min-height: 97dvh;
	position: relative;
	z-index: 10; */
	position: fixed;
	min-width: 94%;
	box-shadow: 0px 0 8px #9e9d9d;
	border-radius: 10px;
	/* padding: 1em 0.3em; */
	padding: 1em 2.3em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	min-height: 97dvh;
	/* position: relative; */
	z-index: 10;
	transition: all 250ms ease-in-out;
}

.navBar .navBar_hideBtn {
	position: absolute;
	right: -14px;
	border: none;
	padding: 15px 20px;
	text-align: center;
	border-radius: 50%;
	background: white;
	font-size: 1.5em;
	transition: all 350ms ease-in-out;
}

.navBar .navBar_hideBtn span {
	background-color: rgb(39, 38, 38);
	display: block;
	height: 2px;
	width: 22px;
	margin-top: 4px;
	margin-bottom: 2px;
	transition: all 460ms ease-in-out;
}

.navBar .hide-btn span:first-child {
	transform: rotate(45deg) translateX(8px);
}

.navBar .hide-btn span:nth-child(2) {
	opacity: 0;
}

.navBar .hide-btn span:last-child {
	transform: rotate(-45deg) translateX(9px);
	right: -10px;
}

.navBar .show-btn span {
	background-color: rgb(39, 38, 38);
	display: block;
	height: 2px;
	width: 22px;
	margin-top: 4px;
	margin-bottom: 2px;
}

.navBar div {
	width: 100%;
}

.navBar li {
	padding: 5px 10px;
	border-radius: 5px;
	/* margin-top: 2px; */
	margin-top: 12px;
	margin-bottom: 2px;
}

.hide {
	transform: translateX(-104%);
}

.show-btn {
	transform: translateX(65px);
}

.navBar li:hover {
	background-color: #5d5c5c;
	color: white;
}

.navBar ul {
	width: 100%;
}
.navBar a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	gap: 1em;
}

.navBar .navBar__home {
	/* width: 37px;
	padding-left: 8px; */
	width: 60px;
	margin: 20px auto;
}

.navBar hr {
	width: 100%;
	border: 1px solid red;
}
